* {
  padding: 0px;
  margin: 0px;
  font-family: "Inconsolata", monospace;
  box-sizing: border-box;
}

.container {
  grid-row: 2;
  /* background-color: rgb(252, 242, 229); */
  /* background-color: rgb(251, 246, 239); */
  background-color: rgb(255, 252, 248);
  display: grid;
  grid-template-rows: 100px 1fr;
  grid-template-columns: 100%;
}

.main-container {
  grid-row: 2;
}

.blog.header {
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-self: end;
}

.blog.title {
  font-family: "ultra", serif;
  font-size: 70px;
  font-weight: 900;
  text-decoration: underline;
  text-underline-position: auto;
}

.blog.title,
.blog.subtext {
  align-self: center;
  color: rgb(51, 51, 51);
  grid-row: 1;
  margin: 0px;
}

/* TIMELINE STYLES */

/* .timeline,
.lower-entry {
  background-color: rgb(191, 191, 191);
} */

.timeline {
  position: relative;
  margin: 0 auto;
  /* background-color: rgb(211, 211, 211); */
  background-color: rgb(227, 227, 227);
  margin: 5px;
  padding: 40px 0px;
}

.timeline::after {
  content: "";
  position: absolute;
  width: 6px;
  /* background-color: rgb(252, 242, 229); */
  /* background-color: rgb(251, 246, 239); */
  background-color: rgb(255, 252, 248);
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

.timeline-icon {
  position: absolute;
  right: -20px;
  width: 40px;
  height: 40px;
  margin-left: -20px;
  /* border: 4px solid rgb(252, 242, 229); */
  border: 4px solid rgb(255, 252, 248);
  border-radius: 50%;
  /* box-shadow: 0 2px 1px rgba(0, 0, 0, 0.4); */
  box-shadow: 0.5px 3px 3px rgba(0, 0, 0, 0.4);
  text-align: center;
  vertical-align: middle;
  z-index: 1;
  pointer-events: auto;
  margin-top: 20px;
}

.timeline-icon.left-icon {
  right: -20px;
}

.timeline-icon.right-icon {
  left: 0px;
}

.timeline-icon .icon-wrapper {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  cursor: default;
  background-color: coral;
  border-radius: 50%;
}

i.icon {
  color: rgb(48, 48, 48);
  font-size: 27px;
}

i.icon.FaEarlybirds {
  margin-top: 5px;
}

/* ENTRY STYLES */

.entry-container {
  width: 50%;
  position: relative;
  padding: 10px;
}

.left {
  left: 0;
  padding: 10px 50px;
}

.right {
  left: 50%;
  padding: 10px 50px;
}

.entry-container.first {
  margin-top: 0px;
}

.entry-container {
  margin-top: -150px;
}

/* triangles */

.left:before {
  position: absolute;
  top: 45px;
  right: 43px;
  border-top-width: 1px;
  border-right-width: 1px;
  background-color: rgb(254, 241, 225);
  /* background-color: rgb(255, 252, 248); */
  background-color: white;
  /* border-color: rgb(51, 51, 51); */
  border-color: rgb(138, 138, 138);
  content: "";
  transform: rotate(45deg);
  height: 14px;
  width: 14px;
  position: absolute;
  border-width: 1px;
  border-style: solid;
  box-sizing: border-box;
  border-bottom: none;
  border-left: none;
  z-index: 1;
}

.right:after {
  position: absolute;
  left: 43px;
  border-top-width: 1px;
  border-right-width: 1px;
  /* background-color: rgb(255, 252, 248); */
  background-color: white;
  /* border-color: rgb(51, 51, 51); */
  border-color: rgb(138, 138, 138);
  top: 45px;
  content: "";
  transform: rotate(45deg);
  height: 14px;
  width: 14px;
  position: absolute;
  border-width: 1px;
  border-style: solid;
  box-sizing: border-box;
  border-top: none;
  border-right: none;
  z-index: 1;
}

/* entry */

.entry {
  /* background-color: rgb(255, 252, 248); */
  background-color: white;
  position: relative;
  border: 1px solid;
  padding: 20px 0px 0px 0px;
  box-shadow: 1px 3px 10px rgb(138, 138, 138);
}

.entry,
.left:before,
.right:after {
  border-color: rgb(138, 138, 138);
}

.date {
  font-style: italic;
  font-size: 14px;
  color: rgb(71, 71, 71);
  padding-left: 5px;
}

.title {
  font-size: 22px;
  font-weight: 900;
  margin: 0px 20px 5px 20px;
}

.paragraph {
  font-weight: 400;
  margin-bottom: 8px;
}

.date,
.inner-entry {
  margin: 0px 20px;
}

.inner-entry {
  display: inline-block;
}

.thumbnail {
  padding: 10px 0px 0px 0px;
  float: right;
}

.entry-link,
.entry-link:visited {
  color: purple;
}

.lower-entry {
  /* background-color: rgb(144, 137, 134); */
  background-color: rgb(227, 227, 227);
  /* color: rgb(239, 239, 239); */
  color: rgb(51, 51, 51);
  border-top: 1px solid rgb(138, 138, 138);
  padding: 3px 10px;
  margin: 10px 0px 0px 0px;
}

.tags {
  font-style: italic;
}

ul {
  margin-left: 15px;
  list-style-position: inside;
  padding: 0;
}
