/* .thumbnail#nytLogo {
  background-color: brown;
  color: gold;
} */

img#earthImage {
  margin: 0px 0px 0px 5px;
  width: 300px;
}

img#samAltman1 {
  width: 150px;
}

img#rickScience {
  width: 200px;
  margin: 0px 10px;
}

.thumbnail#kiwiBird {
  color: rgb(51, 51, 51);
}

.thumbnail#googleEarth,
.thumbnail#nytLogo {
  padding: 20px;
  margin: 0px 0px 0px 10px;
  display: flex;
  align-content: center;
}

.thumbnail#googleEarth {
  background-color: rgb(221, 221, 221);
  color: rgb(51, 51, 51);
}

.thumbnail#nytLogo {
  /* background-color: rgb(237, 185, 255); */
  color: rgb(51, 51, 51);
}
